<%- include('partials/_header') %> <%- include('partials/_navbar') %>
<div class="container">
  <div class="row row-cols-4">
    <% if(isUserAdminTrueOrNot) { %>
    <div class="pwd-card card col mx-3 mt-4 bg-light mb-3 text-center">
      <img
        src="https://cdn4.iconfinder.com/data/icons/core-ui-outlined/32/outlined_placeholder-512.png"
        class="card-img-top pwd-img"
        alt="#"
      />
      <div class="card-body">
        <h5 class="card-title">Store New Password</h5>
      </div>
      <div class="card-footer">
        <a
          data-toggle="modal"
          data-target="#modal_makeNewPassword"
          class="btn btn-primary"
          id="open-pwd"
          >Store</a
        >
      </div>
    </div>
    <% } %> <% if (pwds) { pwds.forEach((pwd) => { %>
    <div class="pwd-card card col mx-3 mt-4 bg-light mb-3 text-center">
      <img
        src="https://cdn4.iconfinder.com/data/icons/core-ui-outlined/32/outlined_placeholder-512.png"
        class="card-img-top pwd-img"
        alt="#"
      />
      <div class="card-body">
        <h5 class="card-title"><%= pwd.website_title%></h5>
        <small class="card-subtitle mb-2 text-muted">
          <%= pwd.website_url%>
        </small>
      </div>
      <div class="card-footer">
        <a
          data-toggle="modal"
          data-target="#modal_<%=pwd.id%>"
          class="btn btn-primary"
          id="open-pwd"
          >Check</a
        >
      </div>
    </div>

    <div
      class="modal fade"
      id="modal_<%=pwd.id%>"
      tabindex="-1"
      aria-labelledby="Password"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title"><%=pwd.website_title%></h5>
          </div>
          <div class="modal-body" id="pwd-info">
            <img
              src="https://cdn4.iconfinder.com/data/icons/core-ui-outlined/32/outlined_placeholder-512.png"
              class="card-img-top pwd-img"
            />
            <div><%= pwd.website_url%></div>
            <div><strong>Username: <%=pwd.website_username%></strong></div>
            <input
              disabled
              class="passwordBox"
              type="text"
              value="<%= pwd.website_pwd%>"
            />
            <% if(isUserAdminTrueOrNot) { %>
            <div><button class="change">Change Password</button></div>
            <% } %>
            <div><button class="copy">Copy Password</button></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <% }); } %>
    <div
      class="modal fade"
      id="modal_makeNewPassword"
      tabindex="-1"
      aria-labelledby="Password"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title">Store New Password</h5>
          </div>
          <div class="modal-body" id="pwd-info">
            <form method="POST" id="store_new">
              <div class="form-group">
                <label for="formGroupExampleInput">Website Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="new_title"
                  name="website_title"
                  placeholder="Website Name"
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Website URL</label>
                <input
                  type="text"
                  class="form-control"
                  name="website_url"
                  id="new_url"
                  placeholder="https://"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="formGroupExampleInput">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="website_username"
                    id="new_username"
                    placeholder="Username"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="formGroupExampleInput">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    name="website_pwd"
                    id="new_pwd"
                    placeholder="Password"
                  />
                  <a
                    id="generate_password"
                    class="btn btn-secondary btn-sm"
                    type="button"
                    data-toggle="collapse"
                    data-target="#generate_options"
                    aria-expanded="false"
                    aria-controls="generate_options"
                  >
                    Generate Password
                  </a>
                </div>
              </div>
              <div
                class="collapse border border-dark rounded"
                id="generate_options"
              >
                <form id="generate_password">
                  <div class="form-group">
                    <label for="password_length">Password Length</label>
                    <input
                      type="range"
                      class="custom-range"
                      id="password_length"
                      min="8"
                      max="20"
                    /><span id="length_span">14</span>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="includeNumbers"
                      value="includeNumbers"
                    />
                    <label class="form-check-label" for="includeNumbers"
                      >Include Numbers</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="includeSymbols"
                      value="includeSymbols"
                    />
                    <label class="form-check-label" for="includeSymbols"
                      >Include Special Characters</label
                    >
                  </div>
                  <div class="form-group">
                    <button
                      class="btn btn-light btn-sm"
                      form="generate_password"
                      type="submit"
                      id="submitGenerate"
                    >
                      GENERATE
                    </button>
                  </div>
                </form>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button class="btn btn-primary" type="submit" form="store_new">
              Store
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('partials/_footer') %>
