<%- include('partials/_header') %> <%- include('partials/_navbar') %>
<div class="container">
  <div class="row row-cols-4">
    <div
      class="card col- mx-3 mt-4 bg-light mb-3 text-center"
      style="min-width: 20rem;"
    >
      <img src="#" class="card-img-top" alt="#" />
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">CREATE PASSWORD</p>
        <a
          href="/passwords/new"
          class="btn btn-primary"
          style="margin-top: 50px;"
          >CREATE</a
        >
      </div>
    </div>
    <% if (pwds) { pwds.forEach((pwd) => { %>
    <div
      class="card col- mx-3 mt-4 bg-light mb-3 text-center"
      style="min-width: 20rem;"
    >
      <img src="#" class="card-img-top" alt="#" />
      <div class="card-body">
        <h5 class="card-title"><%= pwd.website_title%></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          URL: <%= pwd.website_url%>
        </h6>
        <p class="card-text">Username: <%= pwd.website_username%></p>
        <p class="card-text">Password: <%= pwd.website_pwd%></p>
        <a href="/passwords/<%=pwd.id%>" class="btn btn-primary">GO</a>
      </div>
    </div>
    <% }); } %>
  </div>
</div>
<%-include('partials/_footer') %>
